<%- include('./modules/_header', { page: "Password Reset" }); %>

    <div class="bg">
        <div class="columns">
            <div class="login-box">
                <%- include('./modules/_alert'); %>
                    <form class="form" action="/reset-password/<%= token %>" method="post">
                        <div class="signin">
                            <h1 class="topline">Reset Password</h1>

                            <div class="input-field">
                                <label for="inputPassword" class="sr-only">New Password</label>
                                <input type="password" id="inputPassword" class="form-control"
                                    placeholder="* New Password" name="newPassword" required>
                                <!-- Add your new password validation error message here if needed -->
                            </div>

                            <div class="input-field">
                                <label for="confirmPassword" class="sr-only">Confirm Password</label>
                                <input type="password" id="confirmPassword" class="form-control"
                                    placeholder="* Confirm New Password" name="confirmPassword" required>
                                <!-- Add your password confirmation validation error message here if needed -->
                            </div>

                            <div class="login-box-button">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>

    <%- include('modules/_footer'); %>